@font-face {
  font-family: 'DisplayLight';
  src: url('../fonts/SFUIDisplay-Light.ttf') format('truetype');
}

@font-face {
  font-family: 'DisplayRegular';
  src: url('../fonts/SFUIDisplay-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'DisplayBold';
  src: url('../fonts/SFUIDisplay-Bold.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: DisplayLight, sans-serif;
}

.container {
  position: relative;
  max-width: 1800px;
  margin: 0 auto;
  z-index: 10;
}

input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: rgba(0, 0, 0, 0.5);
}

input::-moz-placeholder { /* Firefox 19+ */
  color: rgba(0, 0, 0, 0.5);
}

input:-ms-input-placeholder { /* IE 10+ */
  color: rgba(0, 0, 0, 0.5);
}

input:-moz-placeholder { /* Firefox 18- */
  color: rgba(0, 0, 0, 0.5);
}


//input.inp-focus {
//  color: #fff !important;
//  border-color: rgba(255, 255, 255, 0.6) !important;
//}

button:disabled {
  opacity: .6;
  cursor: default !important;
}

input:focus {
  outline: none;
}

.checkbox {
  display: block;
  cursor: pointer;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox] + span {
    position: relative;
    display: block;
    width: 10px;
    height: 10px;
    min-width: 10px;
    min-height: 10px;
    text-align: center;
    border: 1px solid transparent;
    margin: 0 15px 0 5px;
    transition: all 0.25s ease-in-out;
  }

  input[type=checkbox] + span:before {
    position: absolute;
    content: '';
    top: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #000;
    width: 18px;
    height: 18px;
    margin-right: 15px;
  }

  input[type=checkbox]:checked + span {
    background-color: #000;
  }
}

.btn-radio {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;

  input[type=radio] {
    display: none;
  }

  input[type=radio] + span {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100px;
    height: 40px;
    border: 1px solid #999;
    border-radius: 20px;
    transition: all 0.25s linear;
  }

  input[type=radio]:checked + span {
    border-color: #0057FF;
  }
}