#content {
  position: relative;

  &:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 890px;
    background: url(../img/bg.png) center no-repeat;
    background-size: cover;
  }

  &:after {
    content: '';
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    max-width: 720px;
    height: 870px;
    background: url(../img/phone.png) no-repeat;
    background-size: contain;
  }

  .price-block {
    display: block;
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    max-width: 720px;
    height: 870px;
    z-index: 2;

    .price {
      display: block;
      position: absolute;
      top: 35%;
      left: 60%;
      width: 270px;
      height: 270px;
      border: 10px solid #fff;
      border-radius: 50% 50% 50% 8%;
      background-color: #4582F9;
      color: #fff;
      font-size: 24px;
      padding: 45px 0;
      text-align: center;
      box-shadow: 0 14px 14px rgba(0, 0, 0, 0.25);

      &__title {
        display: block;
        text-align: right;
        padding-right: 40px;
      }

      &__num {
        display: block;
        font-family: DisplayBold, sans-serif;
        font-size: 75px;
        margin: 10px 0;

        &-line {
          display: block;
          position: relative;
          font-size: 40px;
          text-align: left;
          padding-left: 25px;

          &:before {
            content: '';
            display: block;
            position: absolute;
            top: 25px;
            left: 15px;
            width: 70%;
            height: 2px;
            background-color: #000;
            z-index: 2;
          }
        }

        &-up {
          position: relative;
          top: -10px;
          font-size: 26px;
        }
      }
    }
  }

  .content {
    .text_header {
      font-family: DisplayBold, sans-serif;
      font-size: 180px;
      text-align: center;
      color: #fff;
      padding: 50px 0 140px;

      &__top {
        font-family: DisplayBold, sans-serif;
        font-size: 70px;
      }
    }

    .form {
      display: block;
      width: 100%;
      max-width: 620px;
      background-color: #fff;
      padding: 30px;
      margin: 0 auto;
      border: 3px solid #DFDFDF;
      border-radius: 8px;

      &__head {
        font-family: DisplayBold, sans-serif;
        color: #000;
        font-size: 24px;

        &-bottom {
          margin-bottom: 35px;
        }
      }

      &__radio {
        margin: 25px 0;

        .btn-radio-right {
          margin-right: 35px;
        }
      }

      &__row {
        display: flex;
        justify-content: space-between;
        position: relative;
        margin-bottom: 5px;
        padding-bottom: 20px;
      }

      &__col {
        position: relative;
        display: inline-block;
        width: 100%;
        margin-right: 20px;

        &:last-child {
          margin-right: 0;
        }
      }

      &__inp {
        display: block;
        width: 100%;
        height: 40px;
        background: #fff;
        border: 1px solid #999;
        padding: 0 5px;
        font-family: DisplayLight, sans-serif;
        font-size: 20px;
        color: #000;

        &.error {
          border-color: red;
          color: red;
        }
      }

      label.error {
        position: absolute;
        top: 42px;
        right: 0;
        font-size: 14px;
        color: red;
      }

      .agree {
        display: flex;
        align-items: center;
        margin-top: 10px;
        color: #000;
        font-size: 18px;
        cursor: pointer;
      }

      &__checkbox {
        margin-right: 5px;
      }

      &__btn-submit {
        display: inline-block;
        width: 100%;
        max-width: 330px;
        margin: 20px auto 0;
        padding: 10px;
        background: #4582F9;
        color: #fff;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        outline: none;
        border: 2px solid #4582F9;
        border-radius: 50px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
          background: transparent;
          color: #000;
        }
      }
    }

    .form-payment {
      display: none;
      width: 100%;
      max-width: 620px;
      background-color: #fff;
      padding: 30px;
      margin: 0 auto;
      border: 3px solid #DFDFDF;
      border-radius: 8px;

      &__row {
        display: flex;
        align-items: center;
        margin-bottom: 5px;
        padding-bottom: 20px;
        position: relative;
      }

      &__lbl {
        display: inline-block;
        width: 260px;
        color: #000;
        font-size: 22px;
        cursor: pointer;
      }

      &__inp {
        display: block;
        width: 100%;
        height: 40px;
        background: #fff;
        border: 1px solid #999;
        padding: 0 5px;
        font-family: DisplayLight, sans-serif;
        font-size: 20px;
        color: #000;

        &-cart_type {
          text-transform: uppercase;
        }

        &.error {
          border-color: red;
          color: red;
        }
      }

      label.error {
        position: absolute;
        top: 42px;
        right: 0;
        font-size: 14px;
        color: red;
      }

      &__btn-submit {
        display: inline-block;
        width: 100%;
        max-width: 330px;
        margin: 20px auto 0;
        padding: 10px;
        background: #4582F9;
        color: #fff;
        text-align: center;
        font-size: 26px;
        font-weight: 600;
        outline: none;
        border: 2px solid #4582F9;
        border-radius: 50px;
        cursor: pointer;
        transition: all .2s linear;

        &:hover {
          background: transparent;
          color: #000;
        }
      }
    }

    .desc-block {
      display: block;
      width: 100%;
      max-width: 620px;
      background-color: #fff;
      padding: 25px 50px;
      margin: 110px auto 0;
      border: 3px solid #297DD6;
      border-radius: 8px;
      text-align: center;

      h3 {
        font-size: 34px;
        font-weight: 600;
        margin-bottom: 20px;
        color: rgba(0, 0, 0, .7);
      }

      p {
        font-size: 24px;
        color: rgba(0, 0, 0, .7);
      }
    }

    &__desc {
      text-align: center;
      margin-top: 100px;

      h2 {
        font-size: 64px;
        font-weight: 600;
        margin-bottom: 40px;
        color: rgba(0, 0, 0, .7);
      }

      p {
        display: block;
        width: 100%;
        max-width: 1220px;
        font-size: 42px;
        margin: 0 auto 40px;
        color: rgba(0, 0, 0, .7);
      }

      img {
        display: block;
        width: 100%;
        max-width: 1520px;
        margin: 0 auto;
      }
    }
  }
}


@media screen and (max-width: 1100px) {
  #content {
    .content {
      .text_header {
        font-size: 110px;

        &__top {
          font-size: 45px;
        }
      }
    }
  }
}

@media screen and (max-width: 991px ) {
  #content {
    .content {
      &__desc {
        h2 {
          font-size: 32px;
        }

        p {
          font-size: 24px;
        }
      }
    }
  }
}

@media screen and (max-width: 767px) {
  #content {
    .content {
      .text_header {
        font-size: 80px;

        &__top {
          font-size: 35px;
        }
      }
    }
  }
}

@media screen and (max-width: 575px) {
  #content {
    .content {
      .text_header {
        font-size: 45px;
        padding: 50px 0;

        &__top {
          font-size: 24px;
        }
      }

      .form {
        padding: 15px;

        &__row {
          flex-direction: column;
        }

        &__col:first-child {
          margin-bottom: 5px;
          padding-bottom: 20px;
        }
      }

      .form-payment {
        padding: 15px;

        &__row {
          flex-direction: column;
        }

        &__lbl {
          width: 100%;
          margin-bottom: 5px;
        }

        label.error {
          top: 70px;
        }

        &__btn-submit {
          font-size: 22px;
        }
      }

      .desc-block {
        padding: 25px;

        h3 {
          font-size: 28px;
        }
      }
    }
  }
}